.details{
	.o_photo_div{
		position: relative;
		.o_photo{
			height: 200px;
			width: 100%;
		}
	}
	ion-navbar{
		position: absolute;
		top: 0px;
	}
	.top_details{
		position: absolute;
		bottom: 65%;
		padding: 10px;
		.o_logo_div{
			float: left;
			height: 10px;
			margin-right: 10px;

			.o_logo{
				height: 50px;
			}
		}
		.o_name{
			float: left;
			h4{
				font-size: 15px;
				color: #fff;
			}
		}
	}
}