<ion-content padding class="registration_con">
	<div class="register_form" text-center>
		<h4 class="title">Register with Us as University</h4>
		<div class="form">
			<input type="hidden" [(ngModel)]="orgData.org_type">
			<ion-list>
				<ion-item>
					<ion-input type="text" [(ngModel)]="orgData.org_name" placeholder="Enter University Name"></ion-input>
				</ion-item>
				<ion-item>
					<ion-input type="text" [(ngModel)]="orgData.name" placeholder="Enter Your Name"></ion-input>
				</ion-item>
				<ion-item>
					<ion-input type="text" [(ngModel)]="orgData.contact" maxlength="10" placeholder="Enter Your Contact Number"></ion-input>
				</ion-item>
				<ion-item>
					<ion-input type="text" [(ngModel)]="orgData.org_email" placeholder="Enter University Email Address"></ion-input>
				</ion-item>
				<ion-item>
					<ion-input type="password" [(ngModel)]="orgData.org_pass" placeholder="Password"></ion-input>
				</ion-item>
				<ion-item>
					<ion-input type="password" [(ngModel)]="orgData.org_pass2" placeholder="Confirm Password" ></ion-input>
				</ion-item>
				<ion-item>
					<ion-label>Select State</ion-label>
					<ion-select [(ngModel)]="orgData.org_state">
						<ion-option *ngFor="let state of state_data" value="{{state.id}}">
							{{state.name}}
						</ion-option>
					</ion-select>
				</ion-item>
				<ion-item>
					<ion-label>Select City</ion-label>
					<ion-select [(ngModel)]="orgData.org_city">
						<ion-option value="1">New Delhi</ion-option>
					</ion-select>
				</ion-item>
			<!--
				<ion-item>
					<ion-label>Logo</ion-label>
					<ion-input type="file" [(ngModel)]="orgData.org_logo"></ion-input>
				</ion-item>
				<ion-item>
					<ion-label>Cover</ion-label>
					<ion-input type="file" [(ngModel)]="orgData.org_cover"></ion-input>
				</ion-item>
			-->
			<ion-item>
				<ion-label>Select Provided Courses</ion-label>
				<ion-select [(ngModel)]="orgData.org_course" multiple="true">
					<ion-option *ngFor="let course of courses_data" value="{{course.id}}">
						{{course.course_name}}
					</ion-option>
				</ion-select>
			</ion-item>
			<ion-item>
				<label class="control-label col-md-1" style="float: left;">Type:</label>
				<div style="padding-left: 50px;">
					<label class="radio-inline control-label">
						&nbsp;&nbsp;
						<input type="radio" name="gender" value="0" [(ngModel)]="orgData.org_e_type">
						&nbsp;Public
					</label>
					<label class="radio-inline control-label">
						&nbsp;&nbsp;
						<input type="radio" name="gender" value="1" [(ngModel)]="orgData.org_e_type">
						&nbsp;Private
					</label>
				</div>
			</ion-item>
			<ion-item>
				<ion-input type="text" [(ngModel)]="orgData.org_estb" placeholder="Established Year"></ion-input>
			</ion-item>
			<ion-item>
				<ion-input type="text" [(ngModel)]="orgData.org_aff" placeholder="Affiliated With"></ion-input>
			</ion-item>
			<ion-item>
				<ion-input type="text" [(ngModel)]="orgData.org_url" placeholder="University Url"></ion-input>
			</ion-item>
			<ion-item>
				<ion-input type="text" [(ngModel)]="orgData.org_contact" placeholder="University Contact Number"></ion-input>
			</ion-item>
			<button ion-button color="primary" block (click)="sch_register()">Create Account</button>
			By Creating an account with you you agree to follow all our <a (click)="terms()">terms and conditions</a>.<br>
			Already A Member? <a (click)="login()">Login</a> here it's Easy .
		</ion-list>
	</div>
</div>
</ion-content>
